html, body {
    height: 100%;
    overflow: auto;
}

@media only screen and (max-width: 760px) {
    #bar {
        background-color: rgba(16, 165, 224, 0.836) !important;
    }
    #stickyBtn {
        position: absolute;
        top: 15px; 
        left: 15px;
    }
}
/* 
.app {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow:auto;
}


.app::-webkit-scrollbar {
    display: none;
}

.app::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 194);
} */


#pusher {
    min-height: 100vh;
}

.menuBar {
    flex: content;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.bottom {
    bottom: 0; 
    min-width: 10vh;
}
