html, body {
    height: 100%;
    width: 100vw;
    overflow: auto;
    overflow-x: hidden;
}

.app {
    width: 100vw;
}

@media only screen and (max-width: 760px) {
    #bar {
        background-color: rgba(0, 0, 0, 0.637) !important;
    }
    #stickyBtn {
        position: -webkit-sticky;
        position: sticky !important;
        top: 4vh; 
        left: 4vw;
    }
}

#pusher {
    min-height: 100vh;
}


.bottom {
    bottom: 0; 
    min-width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-nav-btn {
    margin: 0 1rem 0 1rem !important;
    /* width: 4rem;
    height: 4rem; */
}
