/* .ui.menu {
    border-bottom: none !important;
}

.ui.secondary.vertical.labeled.icon.menu.menu {
    margin-top: 55vh;
} */

.menuBar {
    background-color: rgba(255, 255, 255, 0.8);
    /* background-color: rgba(0, 0, 0, 0.8); */
    color: black;
    /* text-shadow: 2px -200px white; */
    min-height: 80px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 5 !important;
    /* display: flex; */
}

.menuItem {
    border: none !important;
    height: 4rem;
    font-size: large;
    padding: 0 1rem 0 1rem;
    background-color: transparent;
}


.menuItem:hover {
    color: rgb(72, 167, 255);
    border: none;
}

.menuItem:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

#nav-btn-container {
    /* float: right; */
    position: absolute;
    top: 1rem;
    right: 2rem;
    border: none !important;
}

#nav-logo {
    width: 5rem;
    position: relative;
    top: 1rem;
    left: 3rem;
}