a {
    color: black;
}

#projects h3 {
    font-size: 2rem;
}
/* 
#projects h3, p {
    margin: 1rem 1rem;
} */


.project-list {
    max-width: 80vw;
    margin: 1rem auto 3rem auto;
}

@media (max-width: 800px) {
    .project-list {
        max-width: 100%;
    }
}

.project-list-grid {
    display: grid;
    grid-template-columns: 20em 1fr;
    /* border: 1px solid; */
    min-height: calc((80vw - 20rem ) * 0.60 + 6rem);
}

.project-description {
    text-align: left;
    padding: 0;
    margin: 0 0 2rem 0; 
}

@media (max-width: 800px) {
    .project-list-grid {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }
}
/* 
.project-list-lists {
    margin-top: 30px;
} */

.project-title {
    display: block;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0;
    font-size: 1.25rem;
}

.project-title:hover {
    cursor: pointer;
}


.project-list-description {
    height: 100%;
    margin: auto auto;
    display: grid;
    grid-template-rows: calc((80vw - 20rem) * 0.50) auto;
    width: 90%;
    min-height: 45rem;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    overflow: auto;
}

.project-image {
    max-width: 100%;
    box-shadow: 2px 4px 5px black;
    margin: auto auto;
    max-width: calc((80vw - 20rem) * 0.75);
}

.project-list-description:hover img {
    max-width: calc((80vw - 20rem) * 0.76);
}

.project-list-description:hover a {    
    color: cornflowerblue;
}

@media (max-width: 800px) {


.project-list-description {
    max-width: 90%;
    height: 100%;
    margin: auto auto;
    display: grid;
    grid-template-rows: auto auto;
}
    .project-list-description img {
        max-width: 60vw;
    }
    .project-list-description:hover img {
        max-width: 60vw;
    }
    .project-list-description {
        min-height: 30rem;
    }
    .project-list-description img {
        margin: 1rem auto;
    }
    .project-description {
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

}

.project-list-description p {
    /* border-top: 1px solid; */
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 100%;
    margin: 0;
}

.project-description-btn {
    width: 90%;
    margin: 0 auto !important;
}
.project-description-btn:hover {
    width: 91%;
}


@media (min-width: 1200px) {
    #projects {
        width: 1000px; 
    }

    .project-list {
        max-width: 100%;
        margin: 1rem auto 3rem auto;
    }
    .project-list-grid {
        display: grid;
        grid-template-columns: 20em 1fr;
        /* border: 1px solid; */
        min-height: calc((1000px - 20rem ) * 0.70 + 10rem);
    }

    .project-list-description {
        height: 100%;
        margin: auto auto;
        display: grid;
        grid-template-rows: calc((800px - 20rem) * 0.70) 5rem auto;
        width: 90%;
        min-height: 45rem;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        overflow: auto;
    }

    .project-image {
        max-width: 100%;
        box-shadow: 2px 4px 5px black;
        margin: auto auto;
        max-width: 80%;
    }

    .project-list-description:hover img {
        max-width: 80%;
    }

}